body{
    background-color: aliceblue;
    background-image: url(Pictures/abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:none;

    



}
input{
padding: 5px 4px;


}



.form{
    margin: auto 35%;
    text-align: center;
    padding-top: 10%;
    color: white;
    font-size: larger;
   
   




}

#button{
background-color:aliceblue;

width: 120px;
height: 40px;





}