body{
    background-color: lightyellow;
    padding-top: 5%;



}
table, th, td {
border: 1px solid black;
padding: 15px 25px;
border-collapse: collapse;
border-color: purple;



}
#heading{

font-size: larger;





}
.table{
margin: auto 35% 35%;




}


